/* =========================
PAGE
========================= */

.cart-page {

  background: #EFE8D4;

  min-height: 100vh;

  padding: 100px 80px 0;
}

.cart-container {

  width: min(1600px, 92%);

  margin: auto;

  display: grid;

  grid-template-columns: 1fr 420px;

  gap: 54px;
}

/* =========================
LEFT
========================= */

.breadcrumb {

  font-size: 1.1rem;

  color: #776E63;

  margin-bottom: 38px;
}

.cart-left h1 {

  font-size: 3rem;

  line-height: 0.95;

  color: #140805;

  margin-bottom: 56px;
}

/* =========================
ITEM
========================= */

.cart-item {

  display: grid;

  grid-template-columns: 180px 1fr 140px;

  gap: 34px;

  padding-bottom: 34px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  margin-bottom: 48px;
}

.cart-image img {

  width: 180px;
  height: 180px;

  object-fit: cover;
}

/* info */

.cart-info {

  padding-top: 4px;
}

.cart-info h2 {

  font-size: 2rem;

  line-height: 1;

  color: #140805;

  margin-bottom: 10px;
}

.cart-info p {

  color: #4A3A33;

  margin-bottom: 24px;
}

/* quantity */

.quantity-row {

  margin-bottom: 20px;
}

.quantity-box {

  display: flex;
  align-items: center;

  gap: 16px;
}

.qty-btn {

  width: 54px;
  height: 54px;

  border: none;

  background: #C95A1C;

  color: white;

  font-size: 2rem;

  font-weight: 700;

  border-radius: 8px;

  cursor: pointer;

  transition: .25s;
}

.qty-btn:hover {

  background: #ab4610;

  transform: translateY(-2px);
}

.quantity {

  font-size: 2rem;

  font-weight: 700;

  color: #140805;

  min-width: 24px;

  text-align: center;
}

/* remove */

.remove-btn {

  border: none;

  background: none;

  text-decoration: underline;

  cursor: pointer;

  font-size: 1rem;

  color: #312520;

  transition: .25s;
}

.remove-btn:hover {

  color: #C95A1C;
}

/* price */

.cart-price {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  /* justify-content: space-between; */
}


.cart-price h3 {

  font-size: 2.3rem;

  color: #C95A1C;

  font-weight: 800;
}

.cart-price img {

  width: 28px;

  cursor: pointer;

  transition: .25s;
}

.cart-price img:hover {

  opacity: .6;

  transform: scale(1.05);
}

/* =========================
UPGRADE
========================= */

.upgrade-section {
  /* order: 1; */
  margin-top: 20px;
  padding: 15px 0 60px;
}

.upgrade-section h2 {

  font-size: 3rem;

  line-height: 0.95;

  color: #140805;

  margin-bottom: 48px;
}

.upgrade-grid {

  display: flex;

  gap: 28px;

  flex-wrap: wrap;
}

/* card */

.upgrade-card {

  width: 220px;
}

.upgrade-card img {

  width: 100%;
  height: 220px;

  object-fit: cover;

  margin-bottom: 16px;
}

.upgrade-info {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 20px;
}

.upgrade-info h3 {

  font-size: 1.5rem;

  line-height: 1.1;

  color: #140805;
}

.upgrade-info span {

  color: #C95A1C;

  font-size: 1.8rem;

  font-weight: 800;
}

.upgrade-card button {

  width: 100%;

  height: 54px;

  border: none;

  background: #C95A1C;

  color: white;

  border-radius: 8px;

  font-weight: 700;

  cursor: pointer;

  transition: .25s;
}

.upgrade-card button:hover {

  background: #a84712;

  transform: translateY(-2px);
}

/* =========================
SUMMARY
========================= */

.cart-summary {

  border-left: 1px solid rgba(0, 0, 0, 0.25);

  padding-left: 48px;

  position: sticky;

  top: 180px;

  height: fit-content;
  margin-bottom: 20px;
}

.cart-summary h2 {

  font-size: 2.2rem;

  color: #140805;

  margin-bottom: 18px;
}

.summary-line {

  width: 100%;
  height: 1px;

  background: #C95A1C;

  margin-bottom: 38px;
}

/* rows */

.summary-row {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.summary-row span {

  font-size: 1.2rem;

  font-weight: 700;

  color: #140805;
}

.summary-row strong {

  font-size: 1.5rem;

  color: #140805;
}

.shipping p {

  color: #C95A1C;

  font-size: 1rem;
}

/* promo */

.promo-section {

  margin: 44px 0;
}

.promo-section label {

  display: block;

  font-size: 1rem;

  font-weight: 700;

  margin-bottom: 16px;

  color: #140805;
}

.promo-row {

  display: flex;

  gap: 12px;
}

.promo-row input {

  flex: 1;

  height: 56px;

  border: 1px solid #C95A1C;

  background: #D9D2BF;

  padding: 0 18px;

  border-radius: 8px;

  font-size: 1rem;

  outline: none;
}

.promo-row input::placeholder {

  color: #B55C2B;

  font-weight: 700;
}

.promo-row button {

  width: 110px;

  border: none;

  background: #C95A1C;

  color: white;

  border-radius: 8px;

  font-weight: 700;

  cursor: pointer;

  transition: .25s;
}

.promo-row button:hover {

  background: #ab4610;
}

/* checkout */

.checkout-btn {

  width: 100%;

  height: 82px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;

  background: #E15A00;

  color: white;

  border-radius: 8px;

  font-size: 2rem;

  font-weight: 800;

  transition: .3s;
}

.checkout-btn:hover {

  background: #c84d00;

  transform: translateY(-3px);
}

/* =========================
FOOTER
========================= */

.footer {

  background: #160603;

  padding: 100px 0 50px;

  margin-top: 80px;
}

.footer-top {

  width: min(1400px, 90%);

  margin: auto;

  display: flex;
  justify-content: space-between;

  gap: 60px;

  margin-bottom: 80px;
}

.footer-brand h2 {

  font-size: 2.4rem;

  color: white;

  margin-bottom: 16px;
}

.footer-brand p {

  color: #9D8F84;
}

.footer-links {

  display: flex;

  gap: 90px;
}

.footer-column h4 {

  color: white;

  margin-bottom: 20px;

  font-size: 1.2rem;
}

.footer-column a {

  display: block;

  color: #9D8F84;

  margin-bottom: 12px;

  transition: .25s;
}

.footer-column a:hover {

  color: #E15A00;
}

.social-icons {

  display: flex;

  gap: 18px;
}

.social-icons img {

  width: 24px;

  cursor: pointer;
}

.footer-bottom {

  text-align: center;

  color: #8E7D74;
}

/* =========================
RESPONSIVE
========================= */

@media (max-width:400px) {
  .cart-page {
    padding: 100px 20px 0;
  }

  .cart-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .cart-summary {
    order: -1;
    border: none;
    padding: 0;
    position: static;
    width: 100%;
  }

  .cart-summary h2 {
    font-size: 2rem !important;
  }

  .summary-row {
    margin-bottom: 20px;
  }

  .promo-row {
    flex-direction: row;
  }

  .promo-row input {
    width: 100%;
  }

  .checkout-btn {
    width: 100%;
    height: 62px;
    font-size: 1.6rem;
  }

  .breadcrumb {
    font-size: .9rem;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 110px 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 10px 14px;
    align-items: start;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  .cart-image img {
    grid-column: 1;
    grid-row: 1 / span 3;
    width: 100px;
    height: 110px;
    object-fit: contain;
  }

  .cart-left h1 {
    font-size: 2.5rem !important;
    margin-top: 2px !important;
    margin-bottom: -3px;
  }

  .upgrade-section h2 {
    font-size: 1.5rem !important;
    color: #4A3A33;
  }

  .cart-info {
    grid-column: 2;
    grid-row: 1;
  }

  .cart-info h2 {
    font-size: 1.1rem !important;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .cart-info p {
    font-size: .8rem !important;
    margin-bottom: 5px;
  }

  .quantity-box {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .qty-btn {
    width: 28px;
    height: 28px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
  }

  .quantity {
    font-size: 1rem;
  }

  
  .cart-price {
    grid-column: 3;
    grid-row: 1 / span 3;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    height: 100%; 
    justify-content: space-between; 
    gap: 8px;
    padding-top: 4px;
  }

  .cart-price h3 {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .remove-btn {
    font-size: .7rem;
  }

  .upgrade-section h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  .upgrade-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .upgrade-card {
    width: 100%;
  }

  .upgrade-card img {
    height: 90px;
  }

  .upgrade-info h3 {
    font-size: .7rem;
  }

  .upgrade-info span {
    font-size: .9rem;
  }

  .upgrade-card button {
    height: 34px;
    font-size: .65rem;
  }

  .social-icons {
    justify-content: center;
  }

  .promo-section {
    margin: 30px 0;
  }

  .checkout-btn {
    font-size: 1.2rem;
  }

  .cart-info,
  .quantity-box,
  .remove-btn {
    min-height: fit-content;
  }
}