/* =========================
RESET
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;
  background:#140d09;
  color:white;
  overflow-x:hidden;
}

img{
  width:100%;
  display:block;
}

a{
  text-decoration:none;
  color:inherit;
}

/* =========================
VARIABLES
========================= */

:root{

  --bg:#140d09;
  --bg-light:#1b120e;

  --orange:#ff5b2e;
  --orange-light:#ff7a52;

  --cream:#F9F5E4;
  --soft:#FFF0ED;

  --text:#ffffff;
  --text-secondary:#cbb8aa;

  --border:rgba(255,255,255,0.08);

  --shadow:0 20px 80px rgba(0,0,0,0.4);

}

/* =========================
TYPOGRAPHY
========================= */

h1,h2,h3{
  font-family:'Anton',sans-serif;
  font-weight:400;
  text-transform:uppercase;
}

p{
  line-height:1.8;
}

.section-label{

  font-size:0.8rem;
  font-weight:700;

  letter-spacing:1px;

  color:var(--orange);

  margin-bottom:20px;
}

/* =========================
LAYOUT
========================= */

.container{

  width:min(1280px,90%);
  margin:auto;
}

section{
  position:relative;
}

/* =========================
BUTTONS
========================= */

.primary-btn{

  display:inline-flex;
  align-items:center;
  justify-content:center;

  background:var(--orange);

  padding:16px 32px;

  border-radius:999px;

  font-size:0.9rem;
  font-weight:700;

  transition:.3s;
}

.primary-btn:hover{

  background:var(--orange-light);
}

.secondary-btn{

  display:inline-flex;
  align-items:center;
  justify-content:center;

  border:1px solid rgba(255,255,255,0.15);

  padding:16px 32px;

  border-radius:999px;

  font-size:0.9rem;
  font-weight:600;

  transition:.3s;
}

.secondary-btn:hover{

  background:rgba(255,255,255,0.08);
}